<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9v7_S1_Pd1jEJmyy75ydZsmx6Jc20Mtw</string>
	<key>GCM_SENDER_ID</key>
	<string>451156264454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.outApp</string>
	<key>PROJECT_ID</key>
	<string>out-f555c</string>
	<key>STORAGE_BUCKET</key>
	<string>out-f555c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451156264454:ios:c4ae910f541aedd2b6a587</string>
</dict>
</plist>